body {
  height: 100vh;
  margin: 0 auto;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightskyblue;
  height: 100%;
  padding: 20px;
}

.introduction__title {
  color: whitesmoke;
  font-style: italic;
  background-color: cornflowerblue;
  padding: 10px;
}

.introduction__content {
  width: 75%;
  font-size: 16px;
  background-color: rgb(158, 180, 252);
  color: whitesmoke;
  padding: 20px;
  margin: 20px;
}

.introduction__image {
  margin: 40px auto;
}

.first-button {
  font-size: 18px;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.second-button {
  font-size: 18px;
  background-color: rgb(0, 255, 21);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

@media (min-width: 600px) {
  .introduction {
    background-color: lightgreen;
  }
}

@media (min-width: 800px) {
  .introduction__content {
    background-color: orangered;
  }
  .first-button {
    background-color: red;
  }
  .second-button {
    background-color: lightsalmon;
  }
}

@media (min-width: 1100px) {
  .introduction {
    background-color: rgb(216, 216, 6);
  }
  .introduction__title {
    color: black;
    font-style: normal;
  }
  .first-button {
    background-color: aquamarine;
  }
  .second-button {
    background-color: lightseagreen;
  }
}