body {
  margin: 0 auto;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightskyblue;
  padding: 20px;
}

.introduction__title {
  color: whitesmoke;
  font-style: italic;
  background-color: cornflowerblue;
  padding: 10px;
}

.introduction__content {
  width: 75%;
  font-size: 16px;
  background-color: rgb(158, 180, 252);
  color: whitesmoke;
  padding: 20px;
  margin: 20px;
}

.introduction__image {
  margin: 40px auto;
}

@media (min-width: 600px) {
  .introduction {
    background-color: lightgreen;
  }
}

@media (min-width: 800px) {
  .introduction__content {
    background-color: orangered;
  }
}

@media (min-width: 1100px) {
  .introduction {
    background-color: rgb(216, 216, 6);
  }
}